services:
  db:
    image: postgres:15-alpine
    container_name: "svc_psql"
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    restart: no
    networks:
      - svc_network

  cache:
    image: redis:8.4
    container_name: "svc_redis"
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - svc_network

volumes:
  postgres_data:
  redis_data:

networks:
  svc_network:
    driver: bridge
